---
import './warning-css-support.pcss.css';
---

<p class='warning'>
  Your browser does not support <code>::details-content</code> or <code
    >interpolate-size: allow-keywords</code
  >, so this demo won’t work as intended.
</p>
