.page-docs {
  --_menu-mob_minh: var(--menu-mob_minh, 44px);

  isolation: isolate;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  column-gap: 10px;
  gap: 10px;
  overflow: clip;
  /* & > *:not(:empty) {
    padding: 10px;
  } */

  & > .pd--header-top {
    grid-area: 1 / 1 / 2 / 2;
  }

  & > .pd--logo {
    grid-area: 2 / 1 / 3 / 2;
    position: sticky;
    inset-block-start: 0;
  }

  & > .pd--main {
    grid-area: 3 / 1 / 4 / 2;
  }

  & > .pd--footer {
    grid-area: 4 / 1 / 5 / 2;
  }

  & > .pb-mob {
    z-index: 2;
    background-color: var(--c-primary);
    transition: opacity 0.3s, transform 0.3s;

    &.pd--header {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      & > * {
        width: min(320px, 80%);
      }
    }
  }

  .page-docs--mob-menu {
    position: sticky;
    min-height: var(--_menu-mob_minh);
    inset: 0;
    z-index: 2;
    top: auto;
    background-color: blueviolet;
  }

  @media (--switchDown) {
    & > .pb-mob {
      position: fixed;
      inset: 0;
      inset-block-end: var(--_menu-mob_minh);
      pointer-events: none;
      opacity: 0;
    }

    &.pd--header {
      transform: translateX(100%);
    }

    &:has([aria-expanded='true'][aria-controls='pb--nav']) {
      .pd--header {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &:has([aria-expanded='true'][aria-controls='pb--sidebar']) {
      .pd--sidebar {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  @media (--switchUp) {
    grid-template-columns: 320px 1fr auto;
    grid-template-rows: auto auto auto 1fr auto;

    & > .pb-mob {
      opacity: 1;
      pointer-events: auto;
    }

    & > .pd--header-top {
      grid-area: 1 / 2 / 2 / 4;
    }
    & > .pd--logo {
      grid-area: 1 / 1 / 3 / 2;
      align-items: center;
    }
    & > .pd--header {
      grid-area: 2 / 2 / 4 / 3;
    }
    & > .pd--nav {
      grid-area: 2 / 3 / 4 / 4;
    }
    & > .pd--sidebar {
      grid-area: 3 / 1 / 6 / 2;
    }
    & > .pd--main {
      grid-area: 4 / 2 / 5 / 4;
    }
    & > .pd--footer {
      grid-area: 5 / 2 / 6 / 4;
    }

    .page-docs--mob-menu {
      display: none;
    }
  }
}
