---
import './box.pcss.css';
import Image from '@c/Images.astro';

interface Props {
  img?: string;
  text?: string;
  class?: string;
  overlayClass?: string;
  contentClass?: string;
}

const { img, text, class: className, overlayClass, contentClass } = Astro.props;

const additionalClasses = className ? className.split(' ') : [];
---

<div class:list={['wrapper', 'c-box', additionalClasses]}>
  {
    img && (
      <Image
        imagePath={img}
        altText='some alt text'
        class='c-media c-media--image c-media--default w--full'
      />
    )
  }

  {text && <div class='box--second'>{text}</div>}

  <div class:list={['box--content', contentClass]}>
    <slot />
  </div>
</div>
