---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const base = import.meta.env.BASE_URL;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
const lHref = base + href;
---

<a href={lHref} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
