---
import Link from '@c/Link.astro';
import { getCollection } from 'astro:content';

const components = await getCollection('component');

const groupedComponents = components.reduce((acc, component) => {
  component.data.categories?.forEach((category) => {
    if (!acc[category]) {
      acc[category] = [];
    }
    acc[category].push(component);
  });
  return acc;
}, {});
---

<nav>
  <ul>
    {
      Object.entries(groupedComponents).map(([category, components]) => (
        <li>
          <strong>{category}</strong>
          <ul>
            {components.map((component) => (
              <li>
                <Link class='btn' href={`/${component.id}`}>
                  {component.data.title}
                </Link>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</nav>
