---
import Warning from '@c/other/Warning-css-support.astro';

import Body from '@c/astro/Html.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  container?: boolean;
}

const { title, description, container = false } = Astro.props;
---

<Body>
  <Header />

  <main>
    <Warning />

    {
      container ? (
        <slot />
      ) : (
        <div class='g-container pb-3'>
          <slot />
        </div>
      )
    }
  </main>

  <Footer />
</Body>
