---
import Body from '@c/astro/Html.astro';
import LayoutComponent from '@c/other/layout/component/Layout-component.astro';
import Header from '@c/Header.astro';
import MenuMain from '@c/Menu-main.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<Body>
  <slot />
</Body>
